body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #7a2929;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}
/* Estilos para centralizar o botão no formulário */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #1e1e1e;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  
  button:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }